* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slot {
  height: 5rem;
  width: 100%;
  border: 1px solid lightgray;
  padding-left: 1rem;
}

.calendar {
  position: relative;
}

.line {
  position: absolute;
  top: 0px;
  left: 5rem;
  width: 1px;
  height: 100%;
  background-color: black;
}

.event {
  position: absolute;
  background-color: lightblue;
  width: calc(100% - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}